storage: none
source https://api.nuget.org/v3/index.json

clitool dotnet-xunit
nuget Microsoft.AspNetCore.Cors
nuget Microsoft.AspNetCore.Hosting
nuget Microsoft.AspNetCore.Diagnostics
nuget Microsoft.AspNetCore.Server.Kestrel
nuget Microsoft.AspNetCore.Server.IISIntegration
nuget Microsoft.AspNetCore.StaticFiles
nuget Microsoft.Extensions.Logging.Console
nuget Microsoft.Extensions.Logging.Debug
nuget Microsoft.AspNetCore.Authentication.Cookies
nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.Extensions.Configuration.Json
nuget Microsoft.Extensions.Options.ConfigurationExtensions
nuget Giraffe
nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
nuget Microsoft.AspNetCore.TestHost
nuget Dapper
nuget Microsoft.Data.SQLite
nuget SqlFrags
nuget Fable.JsonConverter

group fable
    source https://api.nuget.org/v3/index.json
    storage:none

    nuget Fable.Elmish.HMR
    nuget FSharp.Core
    nuget Fable.Core
    nuget Fable.Elmish.React
    nuget Fable.Elmish.Browser
    nuget Fable.Elmish.Debugger

    clitool dotnet-fable

group scripts
    source https://api.nuget.org/v3/index.json
    framework: net472

    nuget Dapper
    nuget System.Data.SQLite
    nuget Dapper.FastCrud
    nuget SqlFrags
    nuget Fable.JsonConverter
group scriptPatch
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0

    nuget NETStandard.Library.NETFramework